---
layout: projects
title: Projects
permalink: "/projects/"
---

<h1 class="px-4">Projects</h1>

{% if site.projects.size == 0 %}
<p>No entries yet</p>
{% else %}
{% for project in site.projects %}
<a href="{{ project.url | prepend:site.baseurl }}">
  <div class="px-4 py-4 rounded dark:hover:bg-zinc-800 hover:bg-gray-200">
    <h6>Started: {{ project.started }} | Status: {{ project.status }}</h6>
    <h2>{{ project.projectname }}</h2>
    <div class="flex flex-col space-y-2.5 text-gray-700 dark:text-gray-200">
      <div class="text-base font-normal md:text-lg">{{ project.description }}</div>
      <div class="text-base font-normal md:text-lg">Built with: {{ project.techstack }}</div>
    </div>
  </div>
</a>
{% endfor %}
{% endif %}