---
layout: projects
title: Projects
permalink: /projects/
---

<h1 class="px-4">Projects</h1>

{% if site.projects.size == 0 %}
<p>No entries yet</p>
{% else %}
{% for project in site.projects %}
<a href="{{ project.url }}">
  <div class="dark:hover:bg-zinc-800 hover:bg-gray-200 py-4 px-4 rounded">
    <h6>Started: {{ project.started }} | Status: {{ project.status }}</h6>
    <h2>{{ project.projectname }}</h2>
    <div class="flex flex-col dark:text-gray-200 text-gray-700 space-y-2.5">
      <div class="md:text-lg text-base">{{ project.description }}</div>
      <div class="md:text-lg text-base">Built with: {{ project.techstack }}</div>
    </div>
  </div>
</a>
{% endfor %}
{% endif %}